In [28]:
import pandas as pd
from pandas import Series, DataFrame
from pandas import read_html

import requests
import lxml.html as lh

In [46]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
# url='http://pokemondb.net/pokedex/all'
# Create a handle, page, to handle the contents of the website
page = requests.get(url)

In [47]:
page

In [48]:
#Store the contents of the website under doc
doc = lh.fromstring(page.content)

In [49]:
doc

In [50]:
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [51]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [63]:
dframe_list = pd.io.html.read_html(url)

In [64]:
dframe = dframe_list[0]

In [65]:
dframe

                         Bank NameBank  ... FundFund
0                    Almena State Bank  ...    10538
1           First City Bank of Florida  ...    10537
2                 The First State Bank  ...    10536
3                   Ericson State Bank  ...    10535
4     City National Bank of New Jersey  ...    10534
..                                 ...  ...      ...
558                 Superior Bank, FSB  ...     6004
559                Malta National Bank  ...     4648
560    First Alliance Bank & Trust Co.  ...     4647
561  National State Bank of Metropolis  ...     4646
562                   Bank of Honolulu  ...     4645

[563 rows x 7 columns]

In [67]:
 dframe.columns.values

array(['Bank NameBank', 'CityCity', 'StateSt', 'CertCert',
       'Acquiring InstitutionAI', 'Closing DateClosing', 'FundFund'],
      dtype=object)