In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
ser = Series(randn(6), index=[[1,1,1,2,2,2], ['a','b','c','a','b','c']])

In [4]:
ser

1  a   -0.326762
   b   -0.158124
   c   -0.958414
2  a    0.435611
   b    1.014765
   c   -0.377653
dtype: float64

In [5]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [6]:
ser

1  a   -0.326762
   b   -0.158124
   c   -0.958414
2  a    0.435611
   b    1.014765
   c   -0.377653
dtype: float64

In [7]:
ser[1]

a   -0.326762
b   -0.158124
c   -0.958414
dtype: float64

In [8]:
ser[2]

a    0.435611
b    1.014765
c   -0.377653
dtype: float64

In [9]:
ser[:,'a']

1   -0.326762
2    0.435611
dtype: float64

In [10]:
dframe = ser.unstack()

In [11]:
dframe

          a         b         c
1 -0.326762 -0.158124 -0.958414
2  0.435611  1.014765 -0.377653

In [14]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'],[1,2,1,2]],
                  columns=[['NY', 'NY', 'LA', 'SF'],['cold','hot','hot','cold']])

In [15]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [16]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']
dframe2.columns.names = ['Cities', 'Temp']

In [17]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [23]:
dframe2.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [24]:
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27