In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [6]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

range(0, 15)

In [12]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A', 'B', 'D', 'E', 'F'], columns=['col1', 'col2', 'col3', 'col4', 'col5'])

In [15]:
dframe

       col1      col2      col3      col4      col5
A -1.270908  1.606267  0.175114 -0.823877  1.059813
B  0.807611  1.029368  0.491527  3.033471 -0.479798
D -0.479512  0.418115 -0.302627  0.903670  0.223174
E -2.312124 -0.175503  0.623606 -0.417321  0.811022
F -0.958382  0.893185 -0.340169  0.061900  0.610098

In [17]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [18]:
dframe2

       col1      col2      col3      col4      col5
A -1.270908  1.606267  0.175114 -0.823877  1.059813
B  0.807611  1.029368  0.491527  3.033471 -0.479798
C       NaN       NaN       NaN       NaN       NaN
D -0.479512  0.418115 -0.302627  0.903670  0.223174
E -2.312124 -0.175503  0.623606 -0.417321  0.811022
F -0.958382  0.893185 -0.340169  0.061900  0.610098

In [19]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [20]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.270908  1.606267  0.175114 -0.823877  1.059813   NaN
B  0.807611  1.029368  0.491527  3.033471 -0.479798   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.479512  0.418115 -0.302627  0.903670  0.223174   NaN
E -2.312124 -0.175503  0.623606 -0.417321  0.811022   NaN
F -0.958382  0.893185 -0.340169  0.061900  0.610098   NaN